/* Estructura básica
----------------------------------------------- */

html {
	scroll-behavior: smooth;
}

body {
	background: #ffffff;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	border: 0;
}

a {
	color: #a22;
	text-decoration: none;
}

a:visited {
	color: #a22;
}

a:hover, a:focus {
	color: #639;
}

/* Tipografía
----------------------------------------------- */

p.titular {
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: .2em;
	background-color: #ececec;
	padding: 5px;
	margin: 0 0 0.5em 0;
}

p.subtitle {
	font-size: 1.3em;
	color: #696969;
	margin: 0 0 10px 0;
	line-height: 150%;
	text-align: left;
}

/* Listas
----------------------------------------------- */

ul {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
margin-left: 10px;
list-style-type: square;
}

li {
padding: 5px 0px 5px 0px;
}

/* Barra blanca
----------------------------------------------- */

.barra {
width: 100%;
height: 30px;
margin: 0 auto;
}

/* Layout
----------------------------------------------- */

main {
	width: 75%;
	max-width: 1200px;
	margin: 0 auto;
}

article {
	width: 78%;
	max-width: 900px;
float: left;
margin: 0 auto;
padding: 0px 0px 20px 0px;
font-family: Arial, Helvetica, sans-serif;
color: #333333;
font-size: 1em;
text-align: justify;
line-height: 2.3em;
}

article blockquote {
margin: 1em 20px;
}

aside {
	width: 18%;
float: right;
text-align: left;
margin: 0 auto;
padding: 0;
}

/* Navegación
----------------------------------------------- */

.nav01 ul, .nav02 ul {
	padding: 0;
	margin: 0 auto;
	list-style: none;
	background-color: #ffffff;
	width: 75%;
	max-width: 1200px;
	font-family: Verdana, sans-serif;
	font-size: 1.1em;
overflow: hidden;
}

.nav01 li, .nav02 li {
float: left;
display: block;
padding: 10px 15px;
}

.nav01 li a, .nav02 li a {
	color: #333;
	text-decoration: none;
}

.nav01 li a:hover, .nav02 li a:hover {
	color: #a22a22;
}

#alignright {
float: right;
padding: 10px 0px 15px 30px;
}

/* Divisoria
----------------------------------------------- */

.divcolor {
	width: 100%;
	height: 1px;
	margin: 10px 0;
	background-color: #d9d9d9;
	clear: both;
}

/* Posts
----------------------------------------------- */

.barratit {
padding: 10px 0px 10px 15px;
background-color: #e6e6e6;
border-bottom: 1px solid #d9d9d9;
border-left: 15px solid #dfbf9f;
}

.barratit1 {
font: Arial, Helvetica, sans-serif;
font-size: 1em;
text-transform: uppercase;
letter-spacing: .2em;
color: #333333;
text-align: justify;
padding: 10px 0px 10px 15px;
background-color: #e6e6e6;
border-bottom: 1px solid #d9d9d9;
border-left: 15px solid #dfbf9f;
}

/* Barra lateral
----------------------------------------------- */

aside ul {
margin: 0;
padding: 1.5em 0;
border-top: 1px dotted #ccc;
border-bottom: 1px dotted #ccc;
list-style: none;
}

aside li {
margin: 0;
padding: 0 0 .25em 15px;
	line-height: 2em;
	text-indent: -15px;
}

.titlelat {
font-family: Verdana, sans-serif;
font-size: 1.1em;
text-align: left;
list-style: none;
border-bottom: 1px dotted #ccc;
}

.titlelat01 {
font-family: Verdana, sans-serif;
font-size: 1.1em;
text-align: left;
list-style: none;
border-top: 1px dotted #ccc;
border-bottom: 1px dotted #ccc;
}

.titlelat a, .titlelat01 a {
text-decoration: none;
	color: #333;
}

.titlelat a:hover, .titlelat01 a:hover {
	color: #a22a22;
}

/* Pie
----------------------------------------------- */

.footer01 {
	width: 75%;
	max-width: 1200px;
	margin: 0 auto;
clear: both;
padding: 10px 0;
	font-family: Verdana, sans-serif;
	font-size: 1em;
	line-height: 200%;
}

.footer01 a {
	color: #333;
}

.footer01 a:hover {
	color: #a22a22;
}

.footer01 p {
	text-align: justify;
	margin: 0 10px;
}

#pie {
	width: 75%;
	max-width: 1200px;
	margin: 0 auto;
clear: both;
padding: 10px 0;
	font-family: Verdana, sans-serif;
	font-size: 1em;
	line-height: 200%;
	text-align: justify;
}

/* Redes
----------------------------------------------- */

.redes {
	float: left;
	margin-bottom: 40px;
}

.redes span {
padding-right: 10px;
}

.redes span:hover {
opacity: 0.4;
filter: alpha(opacity=40);
}

/* Responsivos
----------------------------------------------- */

@media only screen and (max-width: 600px) {

body {
	margin: 5%;
}

main, article, aside, .nav01 ul, .nav02 ul, .footer01, #pie {
	width: 100%;
	max-width: 100%;
}

main {
	flex-direction: column;
}

.nav02 li, .nav01 li {
	padding: 10px;
}

.nav01 ul, .nav02 ul {
	justify-content: center;
}

aside ul, aside li {
	text-align: center;
	text-indent: 0;
	padding-left: 0;
}

.redes, #pie, .divcolor {
	display: none;
}

}

@media only screen and (min-width: 600px) and (max-width: 1000px) {

main {
	flex-direction: column;
}

article, aside {
	width: 100%;
}

.redes, #pie {
display: none;
}

}
